{% extends "layouts/main.html" %}

{% block header %}


  {{ govukOneLoginServiceHeader({
    homepageLink: "/index.html",
    signOutLink: " ",
    oneLoginLink: " ",
    
    serviceNavigationParams: { 
      
      serviceName: "View your letters and messages",
      navigationLabel: "inbox.html"
      
    }
  }) }}


{% endblock %}

{% block pageTitle %}
  View your letters and messages
{% endblock %}

{% block beforeContent %}
  <ul class="dwp-language-toggle__list">
    <li class="dwp-language-toggle__list-item" aria-current="true"> <span class="govuk-body-s"> English  </span></li>
    <li class="dwp-language-toggle__list-item">    
    <a href="#" hreflang="cy" lang="cy" rel="alternate" class="govuk-link--no-visited-state" aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
    </li>
  </ul>

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Download your letter
      </h1>
    </div>

    <div class="govuk-!-padding-bottom-6"></div>

    <p>You can now download your proof of benefit letter. You will have one document for each benefit selected. We have also sent a copy of your proof of benefit letters to <a href="my-notifications-pob">Your notifications</a></p>
      
    <div class="govuk-!-padding-bottom-2"></div>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Download",
        href: ""
      }) }}

      {{ govukButton({
        text: "Go back to account home",
        href: "account-home-pob",
        classes: "govuk-button--secondary"
      }) }}
    </div>

</div>
</div>

{% endblock %}